.blue {
    color: #1a9fff;
}

::selection {
    background-color: #53A4D2;
    color: white;
}

body {
    background-color: #1B2838;
    color: white;
    margin: 0;
    padding: 0;
    height: 100%;
}

main {
    margin: 20px;
}

#start {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    margin: 5vh;
    margin-bottom: 10%;
}

#landing {
    width: 50%;
    margin-right: 30px;
}

#separator {
    background-color: #212529;
    height: 20vh;
    width: 100%;
}

footer {
    position:absolute;
    width:100%;
    height:50px;
    background:#212529;
    padding: 10px;
 }

 .navbar .nav-link.active {
    position: relative;
    font-weight: bold;
    color: #1a9fff;
    border-radius: 5px;
}

.navbar .nav-link.active::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: #1a9fff;
    border-radius: 3px;
}

#arrow {
    visibility: hidden;
    height: 0px;
}

/* Carousel */

#landing-img {
    width: 40%;
    background-color: #212529;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden; 
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5); /* Sombra suave */
}

.animal-carousel {
    width: 900px;
    background-color: #212529;
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden; 
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5); /* Sombra suave */
}

#animal-container {
    width: 100%;
    justify-items: center;
    margin-top: 5vh;
    margin-bottom: 10vh;
}

#carouselId {
    width: 100%; 
    height: 100%;
}

.carousel-inner {
    width: 100%;
    height: 100%;
}

.carousel-item {
    width: 100%;
    height: 100%;
}

.carousel-item img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
}

.carousel-indicators [data-bs-target] {
    width: 20px;  
    height: 8px;  
    background-color: white; 
    border-radius: 10px; 
    overflow: hidden;
    margin: 0 4px;
}

/* Cards */

#cards {
    display: flex;
    justify-content: center;
    margin: 30px;
}

.card {
    min-width: 11rem;
    margin: 20px;
    background-color: #293745;
    color: white;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
    transform: scale(1.05); 
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
}

.btn-primary {
    background-color: #222E3C;
    color: white;
    border: none;
    border-radius: 3px;
}

.btn-primary:hover {
    background-color: #1a9fff;
}


#siximg {
    display: grid;
    justify-content: center;
    justify-items: center;
}

.col {
    padding: 0;
}

/* Condicionales de resolucion  */

@media only screen and (max-width: 800px) {
    #start {
        display: flex;
        flex-direction: column;
        margin-bottom: 33vh;
     }
    #landing {
        width: 90%;
        margin-bottom: 20px;
    }
    #landing-img {
        width: 100%;
        height: 100vh;
    }
    .animal-carousel {
        width: 100%;
        height: 80vh;
        margin-left: 0;
        margin-right: 0;
        margin-bottom: 10vh;
    }
    #arrow {
        visibility: visible;
        display: flex;
        width: 100%;
        justify-content: center;
        margin-bottom: 5vh;
}
}

@media only screen and (max-width: 1300px) {
    #cards {
        flex-wrap: wrap;
    }
}